module {
    display: none;
}
html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.userDisplay {
    margin: 1em;
    height: fit-content;
    padding: 0.75em 1em 1.5em 1.25em;
    border-radius: 2em;
    background-color: rgba(86, 94, 116, 0.75);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.userDisplay .user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userDisplay .user .text {
    display: flex;
    flex-direction: column;
}

.userDisplay .displayname {
    font-size: 1.5em;
    color: #f3f3f3;
}

.userDisplay .username {
    font-size: 0.95em;
    color: #f3f3f380;
}

.userDisplay .userlogo {
    height: 3em;
    width: auto;
    border-radius: 0.75em;
    float: right;
}

.userDisplay .about {
    color: #f3f3f3;
    letter-spacing: 0.05em;
}

.userDisplay h3 {
    color: #f3f3f3;
    font-size: 1.7em;
    margin-bottom: 0.5em;
}

.userDisplay .links {
    color: #f3f3f3;
}

.userDisplay .links a {
    text-decoration: underline;
    text-decoration-color: #00000000;
    color: #f3f3f3;
    transition: all .3s ease;
}

.userDisplay .links img {
    height: 1.25em;
    width: auto;
    margin-right: 5px;
}

.userDisplay .links a:hover {
    text-decoration: underline;
    text-decoration-color: #ffa406;
    text-shadow: 0px 0px 5px #f3f3f380;
}