@import url("./Nav. Bar/scratch2.css");

#profile-data {
    display: grid;
    grid-template-areas:
        "banner . banner . banner"
        ". . . . ."
        "aboutTitle . workTitle . doingTitle"
        "aboutContent . workContent . doingContent";
    grid-template-rows: 200px 10px 34px 100px;
    grid-template-columns: 30% 30% 30%;
}

#user-details > h3:nth-child(2) {
    grid-area: "aboutTitle";
}
#user-details > h3:nth-child(4) {
    grid-area: "workTitle";
}

#profile-data > div.box-head,
#user-details,
#profile-box > div.inner.clearfix > div.user-content,
#profile-box > div.inner.clearfix,
#profile-box {
    display: contents;
}

*,
.box .box-head h4,
.project.thumb.item > span.owner,
.slider-carousel .thumb span.owner a,
#comments-enabled-box > label {
    color: #ffffff;
    text-shadow: none;
}
#pagewrapper {
    background-color: #000000;
}
.box .box-head {
    background-color: #407fff;
    border: none;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.box .box-head h4 {
    background-color: #00000030;
    padding: 10px;
    border-radius: 100vh;
    border: none;
}
.box .box-head > a {
    background-image: url(./ProfilePage/ViewAll.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    aspect-ratio: 1/1;
    text-decoration: none;
}
.box .box-content {
    background-color: #0d1933;
    border-radius: 0 0 9px 9px;
    flex: 1 1 auto;
    border: none;
}
.box,
.splash .splash-header .box {
    display: flex;
    flex-flow: column;
    border: none;
    border-radius: 10px;
}
a:link,
a:visited,
a:active,
.news li h4 {
    color: #4081ff;
}
.button.small[data-control="post"] {
    background: none;
    background-color: #4081ff;
    border-color: #4081ff;
}
.button.small[data-control="post"] a {
    color: #ffffff;
}
.button[data-control="load-more"] {
    background: none;
    background-color: #4081ff;
    border-color: #4081ff;
}
.button.small[data-control="load-more"] a {
    color: #ffffff;
}
.arrow-left,
.arrow-right {
    background: none;
}
#comments .more-replies {
    box-shadow: 0 -25px 20px -10px #0d1933;
    background-color: #0d1933;
}
.project.thumb img,
.gallery.thumb span.image img,
.gallery.thumb span.image {
    border-radius: 10px;
    border: none;
    margin: 0;
}
#content {
    padding-top: 70px;
}
#comments .more-replies .pulldown {
    top: 0;
    background-color: #000000;
    border: none;
}
