@import url(./var.css);

@font-face {
    font-family: "Recursive";
    src: local("Recursive"), url("https://asset.stio.studio/font.ttf");
}
* {
    font-family: var(--font);
}

[type="popup"] html {
    width: fit-content;
    height: fit-content;
    /* width: var(--width);
    height: var(--height); */
}
body {
    margin: 0;
}
[type="popup"] body {
    height: var(--height);
    width: var(--width);
    display: grid;
    grid-template-areas:
    "nav"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: var(--nav) calc(100% - var(--nav) - var(--footer)) var(--footer);
}
nav {
    background-color: red;
}
nav * {
    font-size: 18px;
}
button {
    border: none;
    padding: 0;
}
nav .slider button {
    height: 100%;
    width: fit-content;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px;
}
nav .slider {
    height: calc(var(--slider) - 20px);
    width: calc(100% - 60px);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    padding-right: 60px;
    -webkit-user-drag: none;
}
nav .slider::-webkit-scrollbar {
    display: none;
}
nav::after {
    content: "";
    right: 0;
    top: 0;
    position: absolute;
    height: 60px;
    width: 100px;
    background: linear-gradient(to left, #000000e0, transparent);
}
nav::before {
    -webkit-user-drag: none;
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    height: 60px;
    width: 60px;
    background: linear-gradient(to right, #000000bb, transparent);
}
nav .settings {
    z-index: 1;
    right: 0;
    top: 0;
    position: absolute;
    height: 60px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: 100vw;
    background-image: url(../icons/setting.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav .search {
    width: 100%;
    height: var(--search);
    background-color: lightgreen;
}
nav .search input {
    border: none;
    border-radius: 10px;
    width: calc(100% - 32px);
    height: calc(100% - 12px);
    padding: 2px 10px;
    margin: 4px;
    left: 4px;
    position: relative;
    background-color: white;
}
main {
    grid-area: main;
    background-color: green;
}
main iframe {
    height: 100%;
    width: 100%;
}
footer {
    grid-area: footer;
    background-color: blue;
}
.addon {
    border: none;
    padding: 5px;
    width: calc(100% - 20px - 10px);
    margin: 10px;
    background-color: lightgray;
    border-radius: 10px;

    display: grid;
    grid-template-areas:
    "arrow type h3 switch"
    "content content content content";
    grid-template-columns: 40px 20px auto 40px;
    grid-template-rows: 40px 0px 0px;
    column-gap: 5px;
    row-gap: 0px;
}
.addon:has(.arrow input:checked) {
    row-gap: 5px;
    grid-template-rows: 40px auto;
}
.addon:has(.arrow input:checked) .content {
    display: block;
}
.addon .content {
    display: none;
    grid-area: content;
    background-color: darkgray;
    padding: 5px;
    border-radius: 10px;
    transition: var(--transition);
}
.addon .arrow {
    height: 40px;
    width: 40px;
    background-color: darkgray;
    border-radius: 10px;
    grid-area: arrow;
}
.addon .arrow input {
    opacity: 0;
    width: 0;
    height: 0;
}
.addon .arrow::before {
    display: block;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url(../icons/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;    
    transition: var(--transition);
}
.addon:has(.arrow input:checked) .arrow::before {
    transform: rotate(-180deg);
    transition: var(--transition);
}
.addon h3 {
    grid-area: h3;
}
.addon .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.addon .switch {
    grid-area: switch;
    background-color: gray;
    height: 25px;
    width: 100%;
    margin: auto;
    align-items: center;
    border-radius: 100vh;
    transition: var(--transition);
}
.addon:has(.switch input:checked) .switch {
    background-color: blue;
    transition: var(--transition);
}
.addon .switch::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 2.5px;
    left: 2.5px;
    position: relative;
    border-radius: 100vh;
    transition: var(--transition);
}
.addon:has(.switch input:checked) .switch::before {
    left: calc(100% - 2.5px - 20px);
    transition: var(--transition);
}