@import url(./var.css);

@font-face {
    font-family: "Recursive";
    src: local("Recursive"), url("../others/font.ttf");
}

* {
    font-family: var(--font);
    box-sizing: content-box;
}

body {
    margin: 0;
}

html[type="settings"] {
    width: 100%;
    height: 100%;
    /* width: var(--width);
    height: var(--height); */
}

[type="settings"] body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        "nav"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: var(--nav) calc(100% - var(--nav) - var(--footer)) var(--footer);
}

html[type="popup"] {
    width: fit-content;
    height: fit-content;
    /* width: var(--width);
    height: var(--height); */
}

[type="popup"] body {
    height: var(--height);
    width: var(--width);
    display: grid;
    grid-template-areas:
        "nav"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: var(--nav) calc(100% - var(--nav) - var(--footer)) var(--footer);
}

nav {
    background-color: var(--secondary);
}

nav * {
    font-size: 18px;
}

button {
    border: none;
    padding: 0;
}

nav .slider button {
    height: 70%; /* Changed this a little bit to make it fir better */
    width: fit-content;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px;
}

nav .slider {
    height: calc(var(--slider) - 20px);
    width: calc(100% - 60px);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    padding-right: 60px;
    -webkit-user-drag: none;
}

[type="settings"] nav .slider {
    padding-right: 10px;
    width: calc(100% - 20px);
}

nav .slider::-webkit-scrollbar {
    display: none;
}

nav::after {
    content: "";
    right: 0;
    top: 0;
    position: absolute;
    height: 60px;
    width: 100px;
    background: linear-gradient(to left, #000000e0, #0000008c, transparent);
    pointer-events: none;
}

[type="settings"] nav::after {
    width: 60px;
}

nav::before {
    -webkit-user-drag: none;
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    height: 60px;
    width: 40px;
    background: linear-gradient(to right, #000000bb, transparent);
    pointer-events: none;
}

nav .settings {
    z-index: 1;
    right: 10px;
    top: 10px;
    position: absolute;
    height: 40px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    background-image: url(../icons/popout.svg);
    filter: brightness(100);
    background-repeat: no-repeat;
    background-size: cover;
}

nav .settings:hover {
    cursor: pointer;
}

main {
    grid-area: main;
    background-color: var(--primary);
}

main iframe {
    height: 100%;
    width: 100%;
}

footer {
    grid-area: footer;
    background-color: var(--accent);
    box-shadow: 0px -5px 1em rgba(0, 0, 0, 0.5); /* Added some shadow */
    display: flex; /* flexbox */
    align-items: center;
    justify-content: center;
}

.addon {
    border: none;
    padding: 5px;
    width: calc(100% - 20px - 10px);
    margin: 10px;
    background-color: lightgray;
    border-radius: 10px;

    display: grid;
    grid-template-areas:
        "arrow type h3 settings switch"
        "content content content content content";
    grid-template-columns: 40px 20px auto 40px 40px;
    grid-template-rows: 40px 0px 0px;
    column-gap: 5px;
    row-gap: 0px;
    box-shadow: 1px 2px 0.5em rgba(0, 0, 0, 0.2); /* Added some shadow */
}

.addon:has(.arrow input:checked) {
    row-gap: 5px;
    grid-template-rows: 40px auto;
}

.addon:has(.arrow input:checked) .content {
    /**********************************************/
    /* Added a nice height and opacity transition */
    /**********************************************/
    max-height: 50em;
    transition: 0.6s ease-in;
    opacity: 1;
}

.addon .content {
    display: block;
    grid-area: content;
    background-color: darkgray;
    padding: 5px;
    border-radius: 10px;
    opacity: 0;

    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.3s ease-out;
}

.addon .arrow {
    height: 40px;
    width: 40px;
    background-color: darkgray;
    border-radius: 10px;
    grid-area: arrow;
    cursor: pointer;
}

.addon .arrow input {
    opacity: 0;
    width: 0;
    height: 0;
}

.addon .arrow::before {
    display: block;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url(../icons/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all var(--transition) ease;
}

.addon:has(.arrow input:checked) .arrow::before {
    transform: rotate(-180deg);
    transition: all var(--transition) ease;
}

.addon h3 {
    grid-area: h3;
    margin: auto 0;
}

.addon .type {
    grid-area: type;
    background-color: transparent;
    height: 100%;
    width: 100%;
    align-items: center;
    border-radius: 100vh;
    transition: all var(--transition) ease;
    filter: brightness(100);
    background-image: var(--type-icon-url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}

.addon .settings input {
    opacity: 0;
    width: 0;
    height: 0;
}

.addon .settings {
    grid-area: settings;
    background-color: transparent;
    height: 100%;
    width: 100%;
    align-items: center;
    border-radius: 100vh;
    transition: all var(--transition) ease;
    background-image: url(../icons/setting.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.addon:has(.settings input:checked) .settings {
    transition: all var(--transition) ease;
    rotate: 130deg;
}


.addon .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.addon .switch {
    grid-area: switch;
    background-color: gray;
    height: 25px;
    width: 100%;
    margin: auto;
    align-items: center;
    border-radius: 100vh;
    transition: all var(--transition) ease;
    cursor: pointer;
}

.addon:has(.switch input:checked) .switch {
    background-color: blue;
    transition: all var(--transition) ease;
}

.addon .switch::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 2.5px;
    left: 2.5px;
    position: relative;
    border-radius: 100vh;
    transition: all var(--transition) cubic-bezier(.65,.13,.4,.68); /* Added cooler transition */
}

.addon:has(.switch input:checked) .switch::before {
    left: calc(100% - 2.5px - 20px);
}

.copyleft {
    transform: scale(-1, 1);
}