button {
    padding: 5px 10px;
    margin-right: 5px;
}

table {
    line-height: 30px;
    overflow-y: scroll;
}

.tdKey, .tdVal {
    padding: 0px;
    border: none;
    height: fit-content;
}

.tdKey textarea, .tdValue textarea {
    color: black;
    width: calc(100% - 4px);
    border: 1px solid black;
    max-width: 100%;
    resize: none;
}

.tdKey textarea {
    background-color: #ccc;
}
.tdValue textarea {
    min-height: fit-content;
    max-height: max-content;
    background-color: #eee;
}
