html {
    /* height: 450px;
    width: 300px; */
    background: #FFF;
}
body {
    background-color: var(--background-main);
    margin: 0;
}
.tabs-background {
    width: 100%;
    height: 58px;
    background: #D90000;
}
.full-page {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 58px;
    height: 58px;
    background-color: #0000ff;
    border-radius: 20px;
}
.display-contents {
    display: contents;
}